<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form",locals: {prototypes:@prototype} %>
    </div>
  </div>
</div>